Source: salt-formula-ceph
Maintainer: Jakub Pavlik <jakub.pavlik@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-ceph
Vcs-Git: https://github.com/tcpcloud/salt-formula-ceph.git

Package: salt-formula-ceph
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: CEPH Salt formula
 Install and configure CEPH server and client.
